
<\ include partials/_header \>
<pre><\= data[0].id \></pre>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">

        <table class="table table-bordeed-hover">
            <thead>
                <tr>
                    <th>n°</th>
                    <th>Title</th>
                    <th>Gender</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Editorial</th>
                    <th>Country</th>
                    <th>Format</th>
                    <th>Actions</th>

                </tr>
            </thead>
         <body>
            <\ if (data) { \>

            <\for (var i = 0; i < data.length; i++) { \>
                <tr>
                  <td<\  (i +1 )  \></td>
                  <td<\  data[i].Title \></td>
                  <td<\  data[i].Gender \></td>
                  <td<\  data[i].Year    \></td>
                  <td<\  data[i].Director \></td>
                  <td<\  data[i].Editorial \></td>
                  <td<\  data[i].Country    \></td>
                  <td<\  data[i].Format      \></td>
                  <td>
                    <a href="/delete/<\= data[i].id " class="btn btn-danger">Delete</a>
                    <a href="/update/<\= data[i].id " class="btn btn-info">Update</a>
                    
                  </td>
                </tr>
                <\ } \>

                <\ } \>
            }
         }
         </body>
        </table>
            </div>
            <div class="col-md-5">
                <form action=" /add" method="post">
                    <div class="form-group">
        <input type="text" name="title" placeholder="Title" class="form-control">
    </div>

    <div class="form-group">
    <input type="text" name="gender" placeholder="Gender" class="form-control">
</div>
<div class="form-group">
<input type="text" name="Year" placeholder="Year" class="form-control">
<div class="form-group">
    <div class="form-group">
        <input type="text" name="Country" placeholder="Country" class="form-control">
    </div>
        <input type="text" name="Director" placeholder="Director" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" name="Format" placeholder="Format" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">
        Save Pelicula Here
    </button>
    </div>                
   </div>
  </form>
  </div>
</div>
</div>
</form>
<\ include partials/_footer \>